<h1>hey</h1>
<% for country in @countries %>

  <div class="country-deck">
      <p class="country-deck-name"><%= country.name %></p>
  </div>

<% end %>

<button type="button" name="button">Add a new country</button>

<form class="form-country" action="/visited" method="post">

<label for="country_name">Country name: </label>
<input type="text" name="country-name" id="country_name">

<input type="submit" value="submit">
</form>
