<h1><%= @country.name %> </h1>


<div class="cities">
    <% for city in @cities_in_country %>
      <div class="city">
        <p><%= city.name %></p>
        <button type="button" name="button">Delete</button>
      </div>
    <% end %>
</div>


<form class="ask-cities" method="post">
<label for="city-1">Add City:</label>
<input type="text" name="name" id ='city'>
<label for="visited">Is it Visited or To visit?</label><br>
<input type="radio" id= "visited" name="visited" value="true"> Visited <br>
<input type="radio" id= "visited" name="visited" value="false"> To visit <br>
<input type="submit" value="submit">
</form>
