<h1>Countries to visit</h1>
<% for country in @countries %>

  <div class="country-deck">
      <p class="country-deck-name"><%= country.name if country.visited == 'f' %></p
  </div>

<% end %>


<form class="form-country" action="/to-visited" method="post">

<label for="country_name">Country name: </label>
<input type="text" name="country-name" id="country_name">

<input type="submit" value="submit">
</form>
