html {
	background-color: #ffe066;
}
.container{
 display: flex;
  align-content: center;
  justify-content: space-around;

}

}
.box-1{
  flex-basis: 27%;
  align-content: space-around;

}
radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
     color: black;
     text-decoration:none;
     cursor:pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #212e35;
	color: black;
	border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.boxes a {
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
}

.active {
  background-color: #50514f;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffe066;
	text-align: center;

}
#country_name{
	border-radius: 10px;
}

#answer{
	border-radius: 10px;
}
.title {
	margin-top: 30px;
	font-family: inherit;
	font-size: 60px;
}

.boxes{
display: flex;
flex-direction: row;
}

.country-deck {
	display: flex;
	flex-direction: column;
}


.red-button{
  background-color: red;
}
.city{
	justify-content: space-around;
}


/* VISITED */

.boxes {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}


.new-country-index {
	display: flex;
	padding: 30px 0;
	justify-content: center;
}

.cities{
	display: flex;
	background-color: inherit;
	border-radius: 0px;
	flex-direction: column;
}

.city-displayed{
	flex-direction: column;
	float: inherit;
}

form {
    margin-bottom: 10px;
}
