.container{
 display: flex;
  align-content: center;
  justify-content: center;

}

}
.box-1{
  flex-basis: 27%;
  align-content: space-around;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BED6B7;
  color: black
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.body {
	font-family: 'Roboto', sans-serif;
	background-color: : #B4D9FC;
}

.boxes{
display: flex;
flex-direction: row;
}

.country-deck{
  display: flex;
  /* flex-direction: row; */
}

.red-button{
  background-color: red;
}
section{
background-color: #B4D9FC
}
