<h1>The Nomad Line</h1>

<div class="new-country-index">
  <form class="new-country-index" action="/new" method="post">
    <label for="country_name">Country Name: </label>
    <input type="text" id= "country_name" name="name">
    <br>
    <label for="visited">Is it Visited or To visit?</label><br>
    <input type="radio" id= "visited" name="visited" value="true"> Visited <br>
    <input type="radio" id= "visited" name="visited" value="false"> To visit <br>
    <input type="submit" value="Add a travel dream">

  </form>
</div>
