<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mad Nomad</title>
    <link rel="stylesheet" href="/styles/nav.css">
  </head>
  <body>
    <ul>
  <li><a href="#home">Visited Coutnries</a></li>
  <li><a href="#news">To Visit</a></li>
  <li><a href="#contact">About Mad Nomad</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
