<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mad Nomad</title>
    <link rel="stylesheet" href="/styles/nav.css">
  </head>
  <body class="body">
    <ul>
  <li><a href="/visited">Visited Coutnries</a></li>
  <li><a href="/to-visit">To Visit</a></li>
  <li><a class="red-button" href="/delete_all">don't press the red button!</a></li>
  <li><a href="/seed">seed</a></li>

  <li><a href="/about">Search game!</a></li>
  <li style="float:right"><a class="active" href="/">Home</a></li>
</ul>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
